{% extends 'meals/header.html' %}

{% block content %}
    <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
      <div class="row justify-content-center">
        <h3><u>Contact Details</u></h3>
      </div>
      <div class="row justify-content-center">
        <p>Our phone numbers are +254-7123-456-789 or +254-7987-654-321</p>
      </div>
      <div class="row justify-content-center">
        <p>Our fax number is 617-617-6178</p>
      </div>
      <div class="row justify-content-center">
        <p>Find us on Twitter @Bookameal</p>
      </div>
      <div class="row justify-content-center">
        <p>And Instagram @Bookameal</p>
      </div>
      <div class="row justify-content-center">
        <p>If you have any questions or comments or would like to get on our email list you can email us at bookameal@gmail.com</p>
      </div>
    </div>

{% endblock %}
