{% extends 'meals/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127673.97538275093!2d34.61338424335937!3d-0.10413379999999588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182aa5df3af8184d%3A0x7bda5a192c4cd3d5!2sK%20City%20Business%20Park!5e0!3m2!1sen!2ske!4v1687264832252!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Located on Gotham street right near the corner of Mboya Street next to Bata's shoes.</li>
          <li>We are 2 blocks from the Tuffoam Square T stop.</li>
          <li>Do not park across the street from us! It is a tow zone!</li>
        </ul>

      </div>

    </div>

{% endblock %}
